doctype html
html
  head
    title Kamil Dance Academy 
    block scripts
    block style
  body
    block content
    footer#footer 
       | copyright © 2023 KamilDanceAcademy.com || All rights reserved